{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>💸 Expense Tracker</h1>
            <p>Track your expenses easily and stay on top of your finances.</p>
        </header>

        <!-- Main Content Section -->
        <div class="main">
            <div class="content">
                <h2>Track Expenses Effortlessly!</h2>
                <p>Take control of your spending habits with our intuitive and easy-to-use expense tracker. Monitor, categorize, and analyze your expenses to make smarter financial decisions.</p>
                <div class="buttondiv">
                    <button onclick="location.href='{% url 'signup' %}'">Get Started</button>
                </div>
            </div>
            <div class="img-div">
                <img src="{% static 'images/img2.png' %}" alt="image" loading="lazy">
            </div>
        </div>

        <footer>
            <p>© 2025 Expense Tracker. All Rights Reserved.</p>
        </footer>
    </div>
    
</body>
</html>
